.jumbotron{
    background-color: rgb(130, 26, 228);
    margin-bottom: 0px;
}
footer{
    background-color: rgb(190, 169, 209);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;

}

body{
    padding: 50px 0px 0px;
    z-index: 0;

}
.navbar-dark{
    background-color: #512DA8;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
}
.bg-warning{
    color: white;
}
.tab-content{
border-bottom: 1px rgb(228, 222, 222) solid;
border-left: 1px rgb(228, 222, 222) solid;
border-right: 1px rgb(228, 222, 222) solid;

}